// ==========================================================================
// Vlaanderen UI -- Alert
// ==========================================================================
@charset "utf-8";

// ==========================================================================
// Core
// ==========================================================================
@import "vl-ui-core/src/scss/core";

// ==========================================================================
// Util
// ==========================================================================
@import "vl-ui-util/src/scss/util";

// ==========================================================================
// Components
// ==========================================================================
@import "vl-ui-alert/src/scss/alert";

.vl-alert {
    opacity: 1;
    transition: opacity 0.3s;
}

.vl-alert--fade-out {
    opacity: 0;
}